body {
  background: linear-gradient(to right, #ff7f50, #1e90ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  font-size: 4rem;
  color: white;
}

.container {
  text-align: center;
}

.input-box {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box input {
  width: 30rem;
  height: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

#outerPlayerDiv {
  margin: 1rem;
}

#selectButton {
  margin: 1rem;
}

.submit-button {
  background: linear-gradient(to right, #ff6347, #1e90ff);
  color: white;
  border: none;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  cursor: pointer;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 6rem;
  }

  .input-box input {
    width: 80%;
    height: 4rem;
    font-size: 2.4rem;
  }

  .submit-button {
    padding: 2rem 4rem;
    font-size: 2.4rem;
  }
}
